header{
    background-color: darkred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

section{
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer{
    background-color: honeydew;
    text-align: center;
    padding: 10px;
}